__pycache__/
*.pyc
*.pyo
*.pyd

.streamlit/
.venv/
venv/
env/

temp_*.jpg
step4_final_diameter_lurus_unet.jpg

hasil_api/
hasil_batch/
output_testing_gambar_1/
output_images_dataset/
scaled_temp/
images_dataset_scaled/

features.csv
validasi_prediksi_per_file.csv

.DS_Store
Thumbs.db
